<div *ngIf="posterts">
  <h3 style="font-weight: bold; text-transform: uppercase; color: #673ab7;">Posters</h3>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
    class="stats-card"
  >
    <div fxFlex="15" *ngFor="let poster of posterts">
      <div *ngIf="poster">
        <ng-container *ngIf="poster.file_path !== null">
          <img
          src="https://image.tmdb.org/t/p/original///{{ poster.file_path }}"
          class="poster"
        />
        </ng-container>
        <ng-container *ngIf="poster.file_path === null">
          <img
          src="../../../../../assets/default-movie.jpg"
          class="poster"
        />
        </ng-container>
        
      </div>
    </div>
  </div>
</div>
